.buttonIcon {
  background-color: var(--figma-color-bg);
  border: 0px;
  border-radius: 4px;
}

.buttonIcon:hover {
  background-color: var(--figma-color-bg-hover);
}

.valueName {
  flex: none;
  width: 80px;
  flex-grow: 0;
  color: var(--figma-color-text);
}

.valueSpan {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
  text-align: right;
}

.valueStyle {
  width: 100%;
  color: var(--figma-color-text-disabled);
}

.headerStyle {
  padding: 4px 8px;
  color: var(--color-black-30);
}

.property {
  display: flex;
  height: 32;
  align-items: center;
  padding: 0px 8px 0px 4px;
  gap: 0;
}

.helpLayer {
  display: block;
  text-align: center;
  padding-top: 36px;
}

.helpLayer img {
  width: 172px;
  height: 232px;
}

.selectedStyle {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0px 8px 0px 4px;
  height: 40;
}

.selectedLayer {
  flex-grow: 1
}

.selectedLayerStatus {
  color: var(--figma-color-text-disabled);
}

.selectedIcon {
  width: 32;
  height: 32;
  display: flex;
  justify-content: center;
  align-items: center;
}